.price_footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  background-color: #8489bc;
  padding: 10px 0;
  color: #fff;
}

.hide {
  display: none;
}