h5,
h3 {
  margin: 0;
}

.kind-of-food {
  color: #b7b5b7;
  margin-bottom: 16px;
}

.pizza-composition {
  color: #646264;
  margin-top: 16px;
}

.nutritional-value {
  margin-top: 25px;
}

.weight {
  margin-right: 35px;
}
